<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}"/>
    <meta name="keyword" content="{{ keyword }}"/>
    {% block webpack_style %}{% endblock %}
    {# 自定义style #}
    {% block extra_style %}{% endblock %}
</head>
<body>
    {# header #}
    {% block header %}
        {% include "./header/header.html" %}
    {% endblock %}
    {# main #}
    <div class="main">
        {% block main %}
        
        {% endblock %}
    </div>
    {# footer #}
    {% block footer %}
        {% include "./footer/footer.html" %}
    {% endblock %}
    {% block webpack_script %}{% endblock %}
    {# 自定义script #}
    {% block extra_script %}{% endblock %}
</body>
</html>